/* your styles go here */

/* progress bars */
.teal {
	background-color: #6ac5b0;
}
.skills {
	width: 95%;
	height: auto;
	margin: 0 auto;
}
.progress {
	border-radius: 0.6em;
}

h3 { 
  font-size: 16px;
}


h4 { 
  font-size: 12px;
}

p {
	font-size: 20px;
}

/*portfolio slideshow */
.mySlides {
	display:none;
}
